body {
    background-color: rgba(114, 89, 255, 0.2);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
ul {
    background-color: rebeccapurple;
    text-align: center;
    width: none;
    color: white
    
}
ul li {
    display:inline;
     padding-left:4px;
     padding-right:4px;
}
.titulo {
    color: rgb(73, 51, 153);
    text-align: center;   
}
.subtitulo {
    color: orange;
    text-align: center;
}
.parrafo {
    color: rebeccapurple;
    text-align: center;
}
.boton {
    background-color: rebeccapurple;
    color: white;
    text-align: center;
    border-radius: 4px;
}
